.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  opacity: 1;
  margin-bottom: 0.5rem;
  transition: all .5s;

}

.textContainer {
  padding: 1rem;
  display: inline-block;
  justify-content: center;
  border-bottom: 1px solid blue;
  margin: 1rem 1rem 0 1rem;
  flex-grow: 3;
  background-color: #c3e6fc;


  .text {
    background-color: none;
    width: 100%;
    background-color: inherit;
    outline: none;
    border: none;
    flex-grow: 3;
    font-size: 1.2rem;
  }
}

.green {
    background-color: aquamarine;
}

.priority {
  // flex-grow: 2;
  border: none;
  border-bottom: 1px solid blue;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.2rem;
}

.button {
  width: 4rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: forestgreen;
}

.notShow {
    height: 0px;
    opacity: 0;
 
    width: 0px;
    
    & > * {
      display: none;
  }
}