$gold: goldenrod;
$silver: #c0c0c0;
$bronze: #cd7f32;

.gold {
    color: $gold;
}

.silver {
    color: $silver;
}

.bronze {
    color: $bronze;
}

.item {
  padding: 1rem;
  margin: 1rem;
  border-bottom: solid 1px blue;
  cursor: pointer;
}

.text {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.completed {
  color: gray;
  text-decoration: line-through;
  background-color: lightgray;

  svg {
    color: dakrgray;
  }
}

.removing {
  background-color: pink;
  color: red;

  &:hover {
    background-color: red;
    color: pink;
  }
}

.appear {
    opacity: 1;
    height: auto;
}

.disappear {
    opacity: 0;
    height: 0px;
}
