.App {
  display: flex;
  justify-content: center;
  align-items: center;
  // Delete once there is content
  min-height: 100vh;
  background-color: darkblue;
}

.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  border-radius: 4px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 0;
  padding: 2rem;
}
